<h3>All Claims</h3>

<table mat-table [dataSource]="dashboardClaims" class="mat-elevation-z8">

    <ng-container matColumnDef="claim-number">
        <th mat-header-cell *matHeaderCellDef> Claim Number </th>
        <td mat-cell *matCellDef="let claim"> {{claim.claimNumber}} </td>
    </ng-container>

    <ng-container matColumnDef="adjuster">
        <th mat-header-cell *matHeaderCellDef> Adjuster </th>
        <td mat-cell *matCellDef="let claim"> {{claim.user.firstName}} {{claim.user.lastName}}</td>
    </ng-container>

    <ng-container matColumnDef="incident-date">
        <th mat-header-cell *matHeaderCellDef> Incident Date </th>
        <td mat-cell *matCellDef="let claim"> {{claim.incidentDate}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="['claim-number', 'adjuster', 'incident-date']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['claim-number', 'adjuster', 'incident-date'];"></tr>
</table>