mat-toolbar {
  background: #004a9f;
  color: white;
  justify-content: space-between;
}

mat-toolbar .profile mat-icon {
  margin-right: 20px;
  font-size: 25px;
  font-weight: 400;
}

mat-sidenav-container {
  height: 100vh;
}

.profile {
  margin-right: 0px;
  margin-left: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

mat-sidenav {
  width: 300px;
  background: #004a9f;
  height: 100%;
  position: fixed;
  color: white;
}

.logo img {
  width: 160px;
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.items {
  margin-top: 20px;
}

.items button {
  padding: 15px 0;
  transition: 0.3s ease;
  display: flex;
  align-items: center;
}

.items button mat-icon {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 25px;
  margin: 0 10px 0 25px;
}

.items button span {
  font-weight: 400;
}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
}
