<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <div class="logo">
      <img src="./assets/images/logo-transparent.png" alt="" />
    </div>
    <div class="items">
      <button routerLink="dashboard" routerLinkActive="active" mat-button class="menu-button">
        <mat-icon>dashboard</mat-icon>
        <span>Dashboard</span>
      </button>
      <button routerLink="search-policyholders" routerLinkActive="active" mat-button class="menu-button">
        <mat-icon>group</mat-icon>
        <span>Policyholders</span>
      </button>
      <button routerLink="claims" routerLinkActive="active" mat-button class="menu-button">
        <mat-icon>home_work</mat-icon>
        <span>All Claims</span>
      </button>
      <button routerLink="payments" routerLinkActive="active" mat-button class="menu-button">
        <mat-icon>attach_money</mat-icon>
        <span>All Payments</span>
      </button>
      <button mat-button class="menu-button">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <div class="profile">
        <mat-icon>account_circle</mat-icon>
        <div class="user-details">
          <h4>firstName lastName</h4>
        </div>
      </div>
    </mat-toolbar>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>