<form (ngSubmit)="onSubmit(claimPaymentForm.value)" #claimPaymentForm="ngForm">
    <input type="text" hidden="true" [(ngModel)]="payment.paymentNumber" name="paymentNumber" />
    <h4>Payment Amount:</h4>
    <mat-form-field appearance="fill">
        <mat-label>Payment Amount</mat-label>
        <input type="number" id="paymentAmount" name="paymentAmount" matInput [(ngModel)]="payment.paymentAmount"
            required>
    </mat-form-field>
    <h4>Notes:</h4>
    <mat-form-field appearance="fill">
        <mat-label>Notes</mat-label>
        <textarea id="notes" name="notes" matInput [(ngModel)]="payment.notes" required></textarea>
    </mat-form-field>
    <br>
    <button mat-raised-button>Submit</button>
</form>